body {
  font-family: 'Montserrat', sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: 'Saira Condensed', sans-serif; }

.navbar-brand {
  background-color: #b97c0a;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 3em;
  padding: 10px; }

nav.navbar.navbar {
  background-color: #1b1a1a; }

li.nav-item {
  display: flex;
  align-self: start;
  color: #b97c0a;
  display: flex;
  align-items: center;
  padding: 0px 80px; }

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #b97c0a;
  padding: 20px; }

a.nav-link.active:hover {
  background-color: #b97c0a;
  text-decoration: solid;
  color: #1b1a1a;
  border-radius: 2.5em; }

ul.dropdown-menu.show {
  background-color: #b97c0a; }

/* ------------------------------main------------------------- */
video {
  width: 100%; }

img {
  width: 100%;
  height: auto; }

.carousel-caption {
  color: black;
  font-size: 1.5rem; }

.intro {
  text-align: center;
  font-size: 1.1rem; }

/* --------------------------footer------------------------- */
footer {
  background-color: #1b1a1a;
  height: 100px;
  color: #b97c0a; }
  footer p {
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 10px 0px 10px; }

.button {
  display: flex;
  justify-content: space-around; }
  .button a.bi.bi {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #b97c0a;
    border-radius: 50%;
    transition: all .4s ease-in-out; }
    .button a.bi.bi:hover {
      transform: scale(1.7); }

/* ------------------------------contacto----------------------- */
h2 {
  text-align: center;
  padding: 20px;
  font-size: 1.5em; }

div.container-info {
  display: flex;
  flex-direction: row;
  align-items: center; }

div.form-contac {
  width: 40%;
  padding: 40px; }
  div.form-contac label {
    font-size: 20px;
    width: 100%; }
    div.form-contac label input-textarea {
      margin-bottom: 20px;
      width: 100%;
      padding: 10px; }

input {
  padding: 5px; }

input:hover {
  transform: translate(-2px);
  color: #b97c0a;
  transition: all 0.4s ease; }

div.date {
  padding: 70px; }

/* --------------------------proyectos------------------------- */
h2 {
  text-align: center;
  padding: 20px;
  font-size: 2em; }

div.row {
  display: flex;
  justify-content: space-around;
  margin: 0%; }

div.col-6 {
  width: 40%;
  height: 40%;
  padding: 10px; }

div.img1 {
  opacity: .4;
  border: black double; }
  div.img1 .text2 {
    text-align: center; }
  div.img1:hover {
    opacity: 1; }
  div.img1 p {
    padding: 20px; }

.project:hover {
  border: solid white 3px; }

/* ---------------------------servicios------------------------------- */
section.section1 {
  background-image: url(../img/mesa-madera.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
  padding: 30px;
  margin: 50px; }
  section.section1 h2 {
    font-size: 3em; }
  section.section1 p {
    background-color: #ffffff8c;
    line-height: 2;
    padding: 20px; }

.section2 {
  background-image: url(../img/cuadros.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
  padding: 30px;
  margin: 50px; }
  .section2 p {
    background-color: #ffffff8c;
    line-height: 2;
    padding: 20px; }

/* --------------------------------------media query mobile------------------------------------------------- */
@media screen and (max-width: 767px) {
  /* -------------------------header------------------------------- */
  .navbar-brand {
    font-size: xx-large;
    padding: 10px;
    margin: 0%; }
  button.navbar-toggler.collapsed {
    background-color: #1b1a1a; }
  .navbar-toggler-icon {
    background-color: #b97c0a; }
  li.nav-item {
    padding: 5px; }
  a.nav-link {
    padding: 10px; }
  a.nav-link.active:hover {
    font-size: 1rem; }
  /* -------------------------main---------------------------------*/
  .carousel-caption {
    color: black;
    font-size: 0.5rem; }
  h5 {
    font-size: 1em; }
  .intro {
    text-align: center;
    font-size: 1rem; }
  /* -----------------------contacto------------------------------- */
  h2 {
    padding: 10px;
    font-size: 1.2em; }
  div.container-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0px; }
  div.form-contac {
    display: flex;
    padding-bottom: 10px; }
  input:hover {
    transform: translate(-2px);
    color: #b97c0a;
    transition: all 0.4s ease; }
  div.date {
    text-align: center;
    padding: 20px; }
  /* --------------------------proyectos------------------------- */
  div.row {
    display: flex;
    flex-direction: column;
    align-items: center; }
    div.row div.col-6 {
      width: 80%;
      padding: 20px; }
  /* -------------------------servicios------------------------------------ */
  section.section1 h2 {
    font-size: 1.2em; }
    section.section1 h2 p {
      line-height: 1.8;
      font-size: 16px;
      padding: 10px; }
  section.section2 p {
    line-height: 1.8;
    font-size: 16px;
    padding: 10px; }
  /* -------------------------footer------------------------------------ */
  footer {
    height: auto; }
    footer p {
      font-size: 1rem;
      margin: 10 10px 0px 10px; } }
