*{
  padding:0;
  margin: 0;
  box-sizing: border-box; 
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1 h2 h3 h4 h5{
    font-family: 'Saira Condensed', sans-serif;    
}

/* ---------------------------header-------------------- */
h1{
    padding: 10px;
    background-color: rgb(185, 124, 10);
    font-family: 'Saira Condensed', sans-serif;
    font-size:xx-large;
}
nav{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: space-between;
    position: fixed;
}
nav ul{
    color:rgb(185, 124, 10);
    display: flex;
    align-items: center;
    padding: 10px;
}
nav ul a{
    color:rgb(185, 124, 10);
    text-decoration: none; 
    padding: 2rem;
}
nav li a:hover{
    background-color:rgb(185, 124, 10);
    color:rgb(27, 26, 26);
    border-radius: 2.5em;
}
 

/* ------------------------------main------------------------- */
video{
    width: 100%;
    padding-top: 50px; 
}
img{
    width: 100%;
    height: auto;
} 
.carousel-caption{
    color:black;
    font-size: 1.5rem;
}
.intro{
    text-align: center;
    font-size: 1.5rem;
}



/* --------------------------footer------------------------- */
footer{
    background-color:rgb(27, 26, 26); 
    height: 90px;
    padding-top: 30px;
    color:rgb(185, 124, 10); 
}
footer p{
    text-align: center;
    margin: 10px;
}
.icon{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 10px;
}


/* ------------------------------contacto----------------------- */
h2{
    text-align: center;
    padding: 20px;
}
h4{
    text-align: right;
    padding-right: 30px;
    color: black;
}
a{
    text-decoration: none;
}
.container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1.8fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h2 h2 h2"
      "form map date"
      "form map date";
  }
  
.h2 { 
    grid-area: h2; 
}  
.form { 
    grid-area: form; 
} 
.map { 
    grid-area: map; 
} 
.date { 
    grid-area: date; 
}   
.form-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
}  
label{
    margin: 10px;
} 
input{
    margin: 15px;
}   
div.maps{
    padding: 20px;
}
div.date{
    padding: 20px;
}


/* --------------------------proyectos------------------------- */

div.col-6{
    padding: 20px;

}
.img1{
    opacity: .4;
    border: black double; 
}
.img1:hover{
    opacity: 1;
}
.project:hover{
    border: solid white 3px;
}
.img1 p{
    padding: 20px;
}

/* --------------------------------------media query mobile------------------------------------------------- */

@media screen and (max-width: 767px) {
     
    /* -------------------------header------------------------------- */
    .carousel-caption{
        color: black;
        font-size: 0.5rem;
    }

    /* -----------------------contacto------------------------------- */
    .container{
        display: grid;
        grid-template-columns: 0.3fr;
        grid-template-rows: .03fr 0.1fr 0.05fr 0.05fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "h2"
          "form"
          "maps"
          "date";
      }
      .h2 { 
        grid-area: h2; 
    }
      .form { 
        grid-area: form; 
    }
      .maps { 
        grid-area: maps; 
    }
      .date { 
        grid-area: date; 
    }
      
    
}

