body {
  font-family: 'Montserrat', sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: 'Saira Condensed', sans-serif; }

.navbar-brand {
  background-color: #b97c0a;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 3em;
  padding: 10px; }

nav.navbar.navbar {
  background-color: #1b1a1a; }

li.nav-item {
  display: flex;
  align-self: start;
  color: #b97c0a;
  display: flex;
  align-items: center;
  padding: 0px 80px; }

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #b97c0a;
  padding: 20px; }

a.nav-link.active:hover {
  background-color: #b97c0a;
  color: #1b1a1a;
  border-radius: 2.5em; }

/* ------------------------------main------------------------- */
video {
  width: 100%; }

img {
  width: 100%;
  height: auto; }

.carousel-caption {
  color: black;
  font-size: 1.5rem; }

.intro {
  text-align: center;
  font-size: 1.1rem; }

/* --------------------------footer------------------------- */
footer {
  background-color: #1b1a1a;
  height: 100px;
  color: #b97c0a; }
  footer p {
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 10px 0px 10px; }

.button {
  display: flex;
  justify-content: space-around; }
  .button a.bi.bi {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #b97c0a;
    border-radius: 50%;
    transition: all .4s ease-in-out; }
    .button a.bi.bi:hover {
      transform: scale(1.7); }

/* ------------------------------contacto----------------------- */
h2 {
  text-align: center;
  padding: 20px;
  font-size: 1.5em; }

div.container-info {
  display: flex;
  justify-items: center; }

div.form-contac {
  width: 35%;
  margin: 30px;
  padding: 40px; }
  div.form-contac label {
    font-size: 20px;
    width: 100%; }
    div.form-contac label input-textarea {
      margin-bottom: 20px;
      width: 100%;
      padding: 10px; }

input:hover {
  transform: translate(-2px);
  color: #b97c0a;
  transition: all 0.4s ease; }

/* --------------------------proyectos------------------------- */
div.col-6 {
  padding: 20px; }

.img1 {
  opacity: .4;
  border: black double; }
  .img1:hover {
    opacity: 1; }
  .img1 p {
    padding: 20px; }

.project:hover {
  border: solid white 3px; }

/* --------------------------------------media query mobile------------------------------------------------- */
@media screen and (max-width: 767px) {
  /* -------------------------header------------------------------- */
  .navbar-brand {
    font-size: xx-large;
    padding: 10px;
    margin: 0%; }
  button.navbar-toggler.collapsed {
    background-color: #1b1a1a; }
  .navbar-toggler-icon {
    background-color: #b97c0a; }
  li.nav-item {
    color: #b97c0a;
    padding: 5px; }
  a.nav-link {
    padding: 10px; }
  a.nav-link.active:hover {
    font-size: 1rem;
    background-color: #b97c0a;
    color: #1b1a1a;
    border-radius: 2.5em; }
  /* -------------------------main---------------------------------*/
  .carousel-caption {
    color: black;
    font-size: 0.5rem; }
  .intro {
    text-align: center;
    font-size: 1rem; }
  /* -----------------------contacto------------------------------- */
  div.container-info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  div.form-contac {
    width: 35%;
    margin: 30px;
    padding: 40px; }
    div.form-contac label {
      font-size: 20px;
      width: 100%; }
      div.form-contac label input-textarea {
        margin-bottom: 20px;
        width: 100%;
        padding: 10px; }
  input:hover {
    transform: translate(-2px);
    color: #b97c0a;
    transition: all 0.4s ease; }
  div.map-iframe {
    width: 250px;
    height: 150px; }
  /* -------------------------footer------------------------------------ */
  footer {
    height: auto; }
    footer p {
      font-size: 1rem;
      margin: 10 10px 0px 10px; } }
