@import "variables";
@import "header";

/* ------------------------------main------------------------- */

video {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    color: black;
    font-size: 1.5rem;
}

.intro {
    text-align: center;
    font-size: 1.1rem;
}

/* --------------------------footer------------------------- */
footer {
    background-color: rgb(27, 26, 26);
    height: 100px;
    color: $color-bg;

    & p {
        font-size: 1.2rem;
        text-align: center;
        margin: 10px 10px 0px 10px;
    }
}

.button {
    display: flex;
    justify-content: space-around;

    a.bi.bi {
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        color:$color-bg;
        border-radius: 50%; 
        transition: all .4s ease-in-out;  
        &:hover{
            transform: scale(1.7);
        }
    }
    
}


/* ------------------------------contacto----------------------- */
h2 {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

div.container-info{
    display: flex;
    justify-items: center;
}
div.form-contac{
    width: 35%;
    margin: 30px;
    padding: 40px;
    label {
        font-size: 20px;
        width: 100%;
        input-textarea {
          margin-bottom: 20px;
          width: 100%;
          padding: 10px;
        }
    }
}

input:hover {
    transform: translate(-2px);
    color: $color-bg;
    transition: all 0.4s ease;
}

/* --------------------------proyectos------------------------- */

div.col-6 {
    padding: 20px;

}

.img1 {
    opacity: .4;
    border: black double;

    &:hover {
        opacity: 1;
    }

    & p {
        padding: 20px;
    }
}

.project:hover {
    border: solid white 3px;
}


/* --------------------------------------media query mobile------------------------------------------------- */

@media screen and (max-width: 767px) {

    /* -------------------------header------------------------------- */
    .navbar-brand {
        font-size: xx-large;
        padding: 10px;
        margin: 0%;
    }

    button.navbar-toggler.collapsed {
        background-color: rgb(27, 26, 26);
    }

    .navbar-toggler-icon {
        background-color: $color-bg;
    }

    li.nav-item {
        color: $color-bg;
        padding: 5px;
    }

    a.nav-link {
        padding: 10px;
    }

    a.nav-link.active:hover {
        font-size: 1rem;
        background-color: $color-bg;
        color: rgb(27, 26, 26);
        border-radius: 2.5em;
    }

    /* -------------------------main---------------------------------*/
    .carousel-caption {
        color: black;
        font-size: 0.5rem;
    }

    .intro {
        text-align: center;
        font-size: 1rem;
    }

    /* -----------------------contacto------------------------------- */
    div.container-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.form-contac{
        width: 50%;
        margin: 30px;
        padding: 40px
    }
    
    input:hover {
        transform: translate(-2px);
        color: $color-bg;
        transition: all 0.4s ease;
    }
div.date{
    padding: 20px;
}

    /* -------------------------footer------------------------------------ */
    footer {
    height: auto;

    & p {
        font-size: 1rem;
        margin: 10 10px 0px 10px;
    } 
 }


}


